files:
  "/etc/php.d/99php.ini" :
    mode: "000755"
    owner: root
    group: root
    content: |
      upload_max_filesize = 15M
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_link_uploads_and_generated_files_folder_to_efs_share.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      . /opt/elasticbeanstalk/support/envvars
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_deploy_dir)

      echo $EFS_SHARE_URI
      echo $EB_APP_DEPLOY_DIR

      #make sure efs dir is created
      if [ ! -d /efs ]; then
        sudo mkdir /efs
      fi

      #make sure efs share is mounted
      if ! mount | grep $EFS_SHARE_URI > /dev/null; then
        sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 $EFS_SHARE_URI:/ /efs
      fi

      #make sure the uploads directory in the efs share is created
      if [ ! -d /efs/uploads ]; then
        sudo mkdir /efs/uploads
        sudo chmod 755 /efs/uploads
        sudo chown webapp /efs/uploads
      fi

      #set uploads dir to variable
      UPLOADS_DIR=$EB_APP_DEPLOY_DIR/wp-content/uploads

      #if uploads dir exists and it is not a sym link then sync it's contents to the efs share and then remove it
      #We are assuming that if it is there and is a sym link that it is correct.
      if [[ -d $UPLOADS_DIR && ! -L $UPLOADS_DIR ]]; then
        #sync the contents of wp-content/uploads to /efs/uploads
        rsync -aur $UPLOADS_DIR/ /efs/uploads
        #remove the uploads folder. the sym link will be created to it below
        sudo rm -rf $UPLOADS_DIR
      fi

      #create symlink for uploads to the efs
      sudo ln -s /efs/uploads/ $UPLOADS_DIR